/.vscode
SVDataBase.db
/Frontend/StockViewer.Frontend/obj
/Frontend/StockViewer.Frontend/bin
/bin
/obj
StockViewer.Api/obj
StockViewer.Api/bin
Backend/StockViewer.Api/bin
Backend/StockViewer.Api/obj
docs
/Backend/StockViewer.Api/SVDataBase.db-shm
/Backend/StockViewer.Api/SVDataBase.db-wal